@import '../../styles/variables.scss';

.inner {

    display: flex;
    
    width: 100%;
    flex-wrap: wrap;

    & h1 {
        margin-top: 67px;
        text-align: center;
    }
}

.cont {
    display: block;
    width: 100%;
    padding: 48px 40px;
    margin: 67px auto 0;
}